<div class="section-login-bg">
    <div class="overlay">
      <section>
        <div class="form-container">
          <h1>Log in</h1>
          <form action="">
            <input matIcon class="input" type="email" placeholder="Email address" />
            <input class="input" type="password" placeholder="Password" />
            <button class="btn" type="submit" routerLink="/dashboard">
              Log in
            </button>
          </form>
          <a routerLink="/forgot-password"><span>Forgot Password?</span></a>
          <p>Don't have an account? <a routerLink="/register">Sign Up now</a></p>
        </div>
      </section>
    </div>
  </div>
  