<div class="section-forgot-password-bg">
  <div class="overlay">
    <section>
      <app-header class="header"></app-header>
      <div class="form-container">
        <h1>Forgot your Password?</h1>
        <p class="">
          We will send you an email with instructions to reset your password.
        </p>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-field">
            <div class="input-wrapper">
              <mat-icon class="icon-left">email</mat-icon>
              <input
                class="input input-auth"
                type="email"
                placeholder="Email Address"
                formControlName="email"
              />
            </div>
            <button class="btn" type="submit" [disabled]="form.invalid">
              Reset my Password
            </button>
            <div *ngIf="submitted && success" class="success">
              Falls die E-Mail existiert, haben wir dir eine Nachricht
              geschickt.
            </div>
          </div>
        </form>
      </div>
      <app-footer class="footer"></app-footer>
    </section>
  </div>
</div>
