<div class="section-forgot-password-bg">
  <div class="overlay">
    <section>
      <app-header class="header"></app-header>
      <div class="form-container">
        <h1>Forgot your Password?</h1>
        <p>Create a new password for your <span class="text-purple">Videoflix</span> account.</p>
        <form action="">
          <div class="form-field">
            <div class="input-wrapper">
              <mat-icon class="icon-left">password</mat-icon>
              <input
                #passwordInput
                class="input input-auth"
                type="password"
                [type]="showPassword ? 'text' : 'password'"
                placeholder="Enter a password"
              />
              <mat-icon
                class="icon-right"
                (click)="togglePassword(); passwordInput.focus()"
                >{{ showPassword ? "visibility_off" : "visibility" }}</mat-icon
              >
            </div>
            <div class="input-wrapper">
              <mat-icon class="icon-left">password</mat-icon>
              <input
                #repeatPasswordInput
                class="input input-auth"
                type="password"
                [type]="showRepeatPassword ? 'text' : 'password'"
                placeholder="Confirm Password"
              />
              <mat-icon
                class="icon-right"
                (click)="toggleRepeatPassword(); repeatPasswordInput.focus()"
                >{{
                  showRepeatPassword ? "visibility_off" : "visibility"
                }}</mat-icon
              >
            </div>

            <button class="btn" type="submit" routerLink="/landing">
              Reset my Password
            </button>
          </div>
        </form>
      </div>
      <app-footer class="footer"></app-footer>
    </section>
  </div>
</div>
