<div class="header-content">
  <div class="left-side">
    <a routerLink="/dashboard">
      <div class="logo">
        <img
          class="arrow_up"
          src="../../../assets/svg/logo_arrow_up.svg"
          alt=""
        />
        <img
          class="arrow_down"
          src="../../../assets/svg/logo_arrow_down.svg"
          alt=""
        />
      </div>
      <img class="textlogo" src="../../../assets/svg/logo_text.svg" alt="" />
    </a>
  </div>
  <div class="right-side">
    <button class="btn" routerLink="/login">Log in</button>
  </div>
</div>
