<div class="section-forgot-password-bg">
  <div class="overlay">
    <section>
      <app-header class="header"></app-header>
      <div class="form-container">
        <h1>Überprüfe deine E-Mail</h1>
        <p>
          We sent you an email with instructions to reset your password if you
          have an account with us.
        </p>
        <button class="btn" routerLink="/login">Zurück zum Login</button>
      </div>
      <app-footer class="footer"></app-footer>
    </section>
  </div>
</div>
