$startsite-bg: '/assets/img/startsite_background.jpg';
$login-bg: '/assets/img/login_background.jpg';
$register-bg: '/assets/img/register_background.jpg';
$forgot-password-bg: '/assets/img/forgotpassword_background.jpg';
$verify-bg: '/assets/img/verify_background.jpg';

$darkpurple: #1f1f2e;
$purple: #2e3edf;
$purple-hover: rgba(46, 60, 223, 0.7);
$purple-active: #242fac;
$purple-disabled: rgba(51, 68, 255, 0.5);