@use '../shared/styles/mixins.scss' as *;
@use '../shared/styles/landing-shared.scss' as *;
@use '../shared/styles/variables.scss' as *;

.verify-container {
    @include display(flex, column, center, center);
    height: 100%;
    width: 100%;
    gap: 32px;
    border-radius: 48px;
}

.loader {
  width: 100px;
  padding: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: $purple;
  box-shadow: $purple-hover, $darkpurple;
  --_m:
    conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: spinGlow 1.2s infinite linear;
}

@keyframes spinGlow {
  to {
    transform: rotate(1turn);
  }
}