<div class="section-startsite-bg">
    <div class="overlay">
      <section>
        <div class="form-container">
          <div class="">
            <h1 class="">Movies, TV shows and more</h1>
          </div>
          <p class="">Enter your email to create or restart your subscription.</p>
          <form action="">
            <input class="input" type="email" placeholder="Email address" />
            <button
              class="btn"
              type="submit"
              routerLink="/register"
            >
              Sign Up >
            </button>
          </form>
        </div>
      </section>
    </div>
  </div>
  