@use './app/shared/styles/fonts.scss' as *;
@use './app/shared/styles/mixins.scss' as *;
@use './app/shared/styles/landing-shared.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Inter", sans-serif;

}

h1 {
  font-weight: 700;
  font-size: 48px;
}

p, span {
  font-weight: 400;
  font-size: 18px;
}