@use "../shared/styles/mixins.scss" as *;
@use "../shared/styles/landing-shared.scss" as *;
@use "../shared/styles/variables.scss" as *;

.highlight-video {
  @include position(absolute, 0, 0, 0, 0);
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.top {
  width: 100%;

  > .videodescription {
    @include display(flex, column, center, flex-start);
    gap: 24px;
  }
}

.bottom {
  @include display(flex, column, center, center);
  width: 100%;
  gap: 24px;

  .categories {
    @include display(flex, column, flex-start, flex-start);
    gap: 24px;
    width: 100%;

    .category {
      @include display(flex, column, flex-start, flex-start);
      gap: 24px;
      width: 100%;

      .video-row {
        @include display(flex, row, flex-start, flex-start);
        gap: 24px;
        width: 100%;
        overflow-x: hidden;

      }
    }
  }
}

@media (max-width: 1440px) {
  app-video-card:nth-child(n + 5) {
    display: none;
  }
}

@media (max-width: 1200px) {
  app-video-card:nth-child(n + 4) {
    display: none;
  }
}

@media (max-width: 1024px) {
  app-video-card:nth-child(n + 3) {
    display: none;
  }
}

@media (max-width: 600px) {
  app-video-card:nth-child(n + 2) {
    display: none;
  }
}
